# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TitaniteGamesRecruitment.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\MOS_LENOVO_REGINA\Documents\TitaniteGamesRecruitment\.idea\.idea.TitaniteGamesRecruitment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
